annotated-types
attrs
Automat
certifi
cffi
charset-normalizer
constantly
contourpy
cryptography
ctrader_open_api
cycler
fonttools
hyperlink
idna
Incremental
iniconfig
inputimeout
kiwisolver
matplotlib
mplfinance
numpy
packaging
pandas
pillow
pluggy
protobuf
pycparser
pydantic
pydantic_core
Pygments
pyOpenSSL
pyparsing
pytest
python-dateutil
python-dotenv
pytz
requests
six
Twisted
typing-inspection
typing_extensions
tzdata
urllib3
zope.interface
